<mat-toolbar color="primary">
    <span>Task List</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="navigate()">
        <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="addTask()">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>

<mat-list role="list">
    <app-task-details *ngFor="let t of tasks.findAllTasks()" [task]="t" (deleted)="removeTask($event)" (realized)="complete($event)"></app-task-details>
</mat-list>


    
