<mat-list-item role="listitem" [ngClass]="{pending: task.pending}">
    <mat-icon *ngIf="task.pending ==  true" color="warn">error_outline</mat-icon>
    <mat-icon *ngIf="task.pending ==  false" class="realized">check</mat-icon>

    {{ task.title }}
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="completeTask()">
        <mat-icon *ngIf="task.pending" class="realized">check_box</mat-icon>
    </button>
    <button mat-icon-button (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>
</mat-list-item>